/* Coolors Exported Palette - coolors.co/dd2e02-00aa00-011627-000000-0c1821 */

/* HSL */
$color1: hsla(12%, 98%, 44%, 1);
$color2: hsla(120%, 100%, 33%, 1);
$color3: hsla(207%, 95%, 8%, 1);
$color4: hsla(0%, 0%, 0%, 1);
$color5: hsla(206%, 47%, 9%, 1);

/* RGB */
$color1: #dd2e02;
$color2: #00aa00;
$color3: #011627;
$color4: #000000;
$color5: #0c1821;