@charset "UTF-8"; 
@import url("utils/normalize.css");
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300i,400,700');

/*Soft reset*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
}

.main-nav {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red ;
  height: 50px;
}

.main-nav__list{
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 1px solid greenyellow;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  margin: 0;
  height: 300%;
}

.main-nav__icon{
  height: 24px;
  width: auto;
  margin: auto;
}

.main-nav__links{
  text-decoration: none;
  color: white;
}

.main-nav__list-item{
  width: 100%;
  text-align: center;
  height: 50px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.main-nav__list-item:not(:first-child){
  display: none;
}*/

.main-nav__list-item--blue{
  background-color: #1C77C3;
}

.main-nav__list-item--green{
  background-color: #00AA00;
}

.main-nav__list-item--orange{
  background: #DD2E02;
}

.main-nav__logo{
  flex: initial;
  width: 50px;
  background-color: black;
  display: flex;
  height: 100%;
}